numpy<2
opencv-python<4.12
trimesh
einops
Pillow
safetensors
huggingface_hub
transformers<5
diffusers
hydra-core
scipy
scikit-image
imageio[ffmpeg]
diso
jaxtyping
accelerate
fast_simplification
typeguard
natsort
